#page1 {
  background: url("../images/page1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#page1 #logo {
  width: 400px;
}

#page2 {
  background: url("../images/page2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#page3 {
  background: url("../images/page3-1.jpg");
  background-repeat: no-repeat;
}

#page4 {
  background: url("../images/page4-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#page5 {
  background: url("../images/page5-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
